@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* initial colors */
    --primary-color: #9f2bb3;
    --secondary-color: #eec1ea;
    --tertiary-color: #fafafa;
  
    --dark-color: #8a2be2;
    --light-color: #fffaf0;

    --border-textarea-color : #ccc; 

    /* darkMode colors*/
    --primary-darkMode-Color : #161b22; 
    --secondary-darkMode-Color : #30363d; 

    --light-darkMode-Color : #e5e2e2; 
    --dark-darkMode-Color : #21262d;
  }

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    color: var(--dark-color);
    flex-direction: column;
}

body p {
    color: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    position: relative;
}

section.container {
    width: 52vw;
}


/* abas */

nav {
    width: 100%;
    margin-top: 40px;
}

nav ul#abas {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin-bottom: 0;
}

nav #abas li {
    list-style: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

nav ul#abas a {
    text-decoration: none;
    border: 1px solid var(--dark-color);
    height: 25px;
    color: var(--dark-color);
    background-color: var(--light-color);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 0 8px;
    margin-top: 10px;
}


nav ul#abas a.selected, nav ul#abas a:hover{
    margin-top: 0px;
    background-color: var(--primary-color);
    color: white;
    height: 35px;
    padding-top: 4px;
    cursor: default;
}


.contentAba {
    display: none;
}

.ativo{
    display: block ;
}

.text-box {
    padding-top: 27px;
    padding: 10px;
    background-color: var(--tertiary-color);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperTextarea {
    width: 100%;
}

textarea, #textModified {
    width: 100%;
    height: 150px;
    outline: none;
    border: 2px solid var(--border-textarea-color);
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    color: var(--dark-color);
}

.converte {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: 1px solid var(--primary-color);
    height: 25px;
    border-radius: 4px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin: 4px;
}

button:hover, .activeColorful {
    background-color: var(--primary-color);
    color: white;
}


#results-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.results {
    margin-right: 20px;
    width: 18%;
}

.results p {
    font-size: 16px;
    padding-right: 10px;
    position: relative;
    text-align: center;
}

.results p b {
    position: absolute;
    padding: 0 4px;
}

/* buttons conversor*/
.sublinhado {
    text-decoration: underline;
}

.negrito {
    font-weight: 700;
}

.titulo {
    text-transform: capitalize;
}

/* darkmode */
body.darkMode {
    background-color: var(--primary-darkMode-Color);
    color: var(--tertiary-darkMode-Color);
}

nav ul#abas a.darkMode {
    background-color: var(--primary-darkMode-Color);
    color: var(--tertiary-darkMode-Color);
}


.textBoxDark {
    background: var(--dark-darkMode-Color);
    border: 1px solid var(--secondary-darkMode-Color);
}


.lightText {
    color: white;
}

/* switch toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfb4df;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@media only screen and (max-width: 639px) {

    section.container, header {
        width: 90vw;
    }

    .results p {
        width: 100%;
    }

    .contadorText {
        font-weight: 700;
    }
}
@media only screen and (min-width: 640px) {
    section.container, header {
        width: 70vw;
    }

    /* contador */

    .results {
        width: 42%;
    }

    .contadorText {
        font-weight: 700;
    }
    
    
}

@media only screen and (max-width: 799px) {

    /* contador */
    .results {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 0px;
    }

  }


  @media only screen and (min-width: 800px) {
    
    /* contador */
    #results-wrapper {
        width: 80%;
    }

    .results {
 
        width: 30%;
    }
   
}

@media only screen and (min-width: 900px) {
    section.container, header {
        width: 52vw;

    }
    
    /* contador */
    #results-wrapper {
        width: 100%;
    }
   
   
}


@media only screen and (min-width: 1200px) {
    section.container, header {
        max-width: 1200px;
    }

    /* contador */
     #results-wrapper {
        width: 100%;
    }
    .results {
    
        width: 21% ;
    }
    
} 

