@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #9f2bb3;
    --secondary-color: #eec1ea;
    --tertiary-color: #fafafa;
  
    --dark-color: #8a2be2;
    --light-color: #fffaf0;

    --border-textarea-color : #ccc; 
  }

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    color: var(--dark-color);
    
}

body p {
    color: var(--primary-color);
}

section.container {
    width: 52vw;
    height: 100vh;
}


/* abas */

nav ul#abas {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin-bottom: 0;
}

nav #abas li {
    list-style: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

nav ul#abas a {
    text-decoration: none;
    border: 1px solid var(--dark-color);
    height: 25px;
    color: var(--dark-color);
    background-color: var(--light-color);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 0 8px;
    margin-top: 10px;
}


nav ul#abas a.selected, nav ul#abas a:hover{
    margin-top: 0px;
    background-color: var(--primary-color);
    color: white;
    height: 35px;
    padding-top: 4px;
    cursor: default;
}


.contentAba {
    display: none;
}

.ativo{
    display: block ;
}


h1.titulo {
    color: var(--primary-color);
    margin-bottom: 30px;
    text-align: center;
}


.text-box {
    padding-top: 27px;
    padding: 10px;
    background-color: var(--tertiary-color);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperTextarea {
    width: 100%;
}

textarea, #textModified {
    width: 100%;
    height: 150px;
    outline: none;
    border: 2px solid var(--border-textarea-color);
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    color: var(--dark-color);
}

.converte {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: 1px solid var(--primary-color);
    height: 25px;
    border-radius: 4px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin: 4px;
}

button:hover, .activeColorful {
    background-color: var(--primary-color);
    color: white;
}


#results-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.results {
    margin-right: 20px;
    width: 18%;
}

.results p {
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    text-align: end;
}

.results p b {
    position: absolute;
    left: 106%;
}

/* buttons */
.sublinhado {
    text-decoration: underline;
}

.negrito {
    font-weight: 700;
}

@media only screen and (max-width: 639px) {
    body p {
        font-size: 14px;
    }

    .results p {
        font-size: 14px;
    }
    

    nav ul#abas a {
        height: 20px;
        font-size: 12px;
        padding: 0 4px;
        margin-top: 5px;
        display: flex;
    }

    nav ul#abas a.selected, nav ul#abas a:hover {
        height: 25px;
        padding-top: 4px;
    }
    .contadorText {
        font-weight: 700;
    }
}
@media only screen and (min-width: 640px) {
 


    /* contador */
    #results-wrapper {
        padding-right: 20px;
    }

    .results {
        margin-right: 20px;
        width: 42%;
    }

    .results p b {
        left: 105%;
    }
    .contadorText {
        font-weight: 700;
    }
    
    
}

@media only screen and (max-width: 799px) {

    /* contador */
    .results {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 0px;
    }
   
    .results p {

        text-align: center;
    }

  }


  @media only screen and (min-width: 800px) {
    
    /* contador */
    #results-wrapper {
        width: 80%;
    }

    .results {
 
        width: 41%;
    }
   
}


@media only screen and (min-width: 1200px) {

    /* contador */
    .results p {
        text-align: end;
    }
    #results-wrapper {
        width: 100%;
    }
    .results {
    
        width: 21% ;
    }
    
}




